*,:after,:before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



.header > select, input{
    margin: 5px;
    min-width: 100px;
}
a{
    text-decoration: none;
    color: rgb(39, 39, 39);
}

.boxes{
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.c{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto; 
    border: 1px solid #cecece;
    margin: 3px;
    padding: 8px;
    width: 100%;
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;

}
p{
    font-size: 11px;
    display: inline-block;
    margin: 3px;
}


/* 
@media (max-width: 570px) {
    .c{
        grid-template-columns: auto auto; 
    }
    .c p{
        font-size: 8px;
    }
}

@media (min-width: 570px) {
    .c{
        grid-template-columns:  auto auto auto; 
    }
}

@media (min-width: 900px) {
    .c{
        grid-template-columns:  auto auto auto; 
    }
} */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .c{
        grid-template-columns: auto auto; 
    }
    .c p{
        font-size: 8px;
    }
  }
  
  /* Small devices (portrait tablets and large phones, 600px and up) */
  @media only screen and (min-width: 600px) {
    .c{
        grid-template-columns: auto auto; 
    }
  }
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (min-width: 768px) {
    .c{
        grid-template-columns: auto auto auto; 
    }
  } 
  
  /* Large devices (laptops/desktops, 992px and up) */
  @media only screen and (min-width: 992px) {
    .c{
        grid-template-columns:  auto auto auto auto auto auto auto; 
    }
  } 









