<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/table.css">
    <title>Data</title>
</head>

<body class="row justify-content-center align-items-center p-5 flex-column">
    <a href="{% url 'index_url' %}" class="logo">UniteInn</a>
    <u><h1>O'quvchilar jadvali</h1></u>
    <div class="card row flex-row p-2 m-1 header " style="width: 100vw;">
        <div class="col">
            <h1 class="row justify-content-center" > <a href="./table.html">Back-end</a></h1>
            <h1 class="row justify-content-center" > <a href="">Front-end</a></h1>
        </div>
        <div class="col">
            <h1 class="row justify-content-center" > <a href="">Grafik-dizays</a></h1>
            <h1 class="row justify-content-center" > <a href="">Grafik-model-sh</a></h1>
        </div>
        <div class="col">
            <h1 class="row justify-content-center" > <a href="">Arduino</a></h1>
            <h1 class="row justify-content-center" > <a href="">Android</a></h1>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-/bQdsTh/da6pkI1MST/rWKFNjaCP5gBSY4sEBT38Q/9RBh9AH40zEOg7Hlq2THRZ"
        crossorigin="anonymous"></script>


</body>

</html>