{% load static %}
<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static './css/table.css' %}">
    <title>Jadval</title>
</head>

<body class="row justify-content-center align-items-center p-5 flex-column">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{% url 'index_url' %}">UNITEInn</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index_url'  %}">Bosh sahifa <span class="sr-only"></span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'register_url' %}">Kursga yozilish</a>
                </li>
            </ul>
        </div>
    </nav>
    <h1>RO'YHAT</h1>
    <form id="form_id" method="GET" action="{% url 'table_url' %}" id="tbb" class="header card flex-row flex-wrap p-2 m-1" style="width: 100vw;">
        <select class="col form-control form-control-sm" name="courses" required>
            <option selected disabled>Kursni izlash...</option>
            <option value="PYTHON dasturlash tili (back-end)">PYTHON dasturlash tili (back-end)</option>
            <option value="GRAFIK DIZAYN">GRAFIK DIZAYN</option>
            <option value="GRAFIK MODELLASHTIRISH">Grafik modellashtirish</option>
            <option value="JAVASCRIPT dasturlash tili (front-end)">JAVASCRIPT dasturlash tili (front-end)</option>
            <option value="ROBOTOTEXNIKA VA MEXATRONIKA">Robototexnika va mexatronika</option>
            <option value="SMM kursi (online marketing)">SMM kursi (online marketing)</option>
            <option value="ANDROID mobil dasturlash">ANDROID mobil dasturlash</option>
        </select>

        <input name="keyvalue" type="text" class="col form-control form-control-sm" placeholder="keyword">
        <input type="submit" class="btn btn-success" value="Qidirish">
        <!-- <p class="col">Bosqich</p>
        <input class="col form-control form-control-sm" type="text" name="group" placeholder="Guruhni izlash...">
        <p class="col">Registratsiya vaqti</p>
        <input id="button_id" type="submit" value="izlash" class="col btn btn-success"  /> -->
    </form>
    {% if users %}
    <h1>JAMI: {{users.count}}</h1>
    {% for user in users%}
    <div class="boxes d-flex">
        <div class="c row">
            <p> <b>№:</b>{{user.id}}</p>
            <p> <b>Ism:</b> {{user.name}}</p>
            <p> <b>Tel:</b> {{user.phone}}</p>
            <p> <b>Yo'nalish:</b> {{user.direction}}</p>
            <p> <b>Bosqich:</b> {{user.course_number}}</p>
            <p> <b>Guruh:</b> {{user.group_number}}GKK</p>
            <p> <b>Sana:</b> {{user.time_at}}</p>
            {% if request.user.is_staff %}
            <form action="{% url 'table_url' %}" method='delete'>
                {% csrf_token %}
                <a style="font-size: 15px;" class="btn btn-danger p-0" href="{% url 'delete_url' id=user.id %}">Delete</a>
            </form>
        </div>
        {% endif %}
    </div>
    {% endfor %}
    {% else %}
    <div style="display: absolute; left: 50%; top:50%; transform: translate(-50%, -50%);" >
        <h1 style="font-size: 50px;" >Ro'yhat bo'sh</h1>
    </div>
    {% endif %}

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

</html>